language: python
matrix:
  include:
    - python: 3.5
      env: TOX_ENV=py35
    - python: 3.6
      env: TOX_ENV=py36
    - python: 3.7
      env: TOX_ENV=py37
      dist: xenial
      sudo: true

install: pip install tox-travis coveralls aiohttp pytest-asyncio codecov

script: tox -e $TOX_ENV

after_success:
  - tox -e coverage-report
  - coveralls